@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #333;
}

::selection {
    background-color: #0b372dbb;
}

.logo {
    width: 100px;
}

header {
    position: absolute;
    z-index: 9999;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav {
    background-color: rgba(255, 0, 0, 0);
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.search a {
    font-size: 1.05rem;
    padding: 0 3rem;
}

.hamburger {
    padding-left: 1.5rem;
}

.hamburger a {
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar {
    position: relative;
    width: 52%;
    height: 1px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger .bar::before, .hamburger .bar::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}

.hamburger .bar::after {
    top: 4.5px;
    
}

.hamburger .bar::before{
    top: -4.5px;
    
}

main {
    position: relative;
    background-color: #353;
    height: 100vh;
    overflow: hidden;
}

.parallax {
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.45s cubic-bezier(.2,.49,.32,.99);
}

.bg-img {
    position: absolute;
    width: 2800px;
    top: calc(50% - 390px);
    left: calc(50% + 10px);
    z-index: 1;
}

.fog-7 {
    position: absolute;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    z-index: 2;
}

.mountain-10 {
    position: absolute;
    width: 820px;
    top: calc(50% + 69px);
    left: calc(50% + 230px);
    z-index: 3;
}

.fog-6 {
    position: absolute;
    width: 2910px;
    top: calc(50% + 85px);
    left: calc(50% + 10px);
    z-index: 4;
}

.mountain-9 {
    position: absolute;
    width: 470px;
    top: calc(50% + 113px);
    left: calc(50% - 457px);
    z-index: 5;
}

.mountain-8 {
    position: absolute;
    width: 810px;
    top: calc(50% + 104px);
    left: calc(50% - 202px);
    z-index: 6;
}

.fog-5 {
    position: absolute;
    width: 450px;
    top: calc(50% + 160px);
    left: calc(50% + 20px);
    z-index: 7;
}

.mountain-7 {
    position: absolute;
    width: 538px;
    top: calc(50% + 162px);
    left: calc(50% + 335px);
    z-index: 8;
}

.text {
    position: absolute;
    z-index: 9;
    top: calc(50% - 130px);
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    pointer-events: auto;
}

.text h2 {
    font-weight: 100;
    font-size: 6.5rem;
}

.text h1 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.58;
}

.mountain-6 {
    position: absolute;
    width: 538px;
    top: calc(50% + 60px);
    left: calc(50% + 760px);
    z-index: 10;
}

.fog-4 {
    position: absolute;
    width: 590px;
    top: calc(50% + 223px);
    left: calc(50% - 80px);
    z-index: 11;
}

.mountain-5 {
    position: absolute;
    width: 538px;
    top: calc(50% + 292px);
    left: calc(50% + 130px);
    z-index: 12;
}

.fog-3 {
    position: absolute;
    width: 1600px;
    top: calc(50% + 150px);
    left: calc(50% - 15px);
    z-index: 13;
}

.mountain-4 {
    position: absolute;
    width: 780px;
    top: calc(50% + 256px);
    left: calc(50% - 400.5px);
    z-index: 14;
}

.mountain-3 {
    position: absolute;
    width: 780px;
    top: calc(50% + 196px);
    left: calc(50% + 900px);
    z-index: 15;
}

.fog-2 {
    position: absolute;
    width: 1600px;
    top: calc(50% + 150px);
    left: calc(50% - 30px);
    z-index: 16;
}

.mountain-2 {
    position: absolute;
    width: 780px;
    top: calc(50% + 196px);
    left: calc(50% + 470px);
    z-index: 17;
}

.mountain-1 {
    position: absolute;
    width: 780px;
    top: calc(50% + 96px);
    left: calc(50% - 750px);
    z-index: 18;
}

.sun-rays {
    position: absolute;
    z-index: 19;
    top: 0;
    right: 0;
    width: 595px;
    pointer-events: none;
}

.black-shadow {
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: 100%;
}

.fog-1 {
    position: absolute;
    width: 2300px;
    top: calc(100% - 365px);
    left: 50%;
    z-index: 21;
}

.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
    pointer-events: none;
}

@media (max-width: 725px){
    .text h1 {
        font-size: 5em;
        line-height: 1.1;
    }

    .text h2 {
        font-size: 4.7rem;
        line-height: 1.1;
    }

    header nav {
        padding: 0 1rem;
    }

    .logo {
        width: 75px;
    }

    header ul a {
        font-size: 0.73rem;
        padding: 0 0.0rem;
    }

    .search a {
        font-size: 0.85rem;
        padding: 0 1.8rem;
    }

    .hamburger {
        padding-left: 0.9rem;
    }

    .hamburger a {
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 520px){
    .text h1 {
        font-size: 5em;
        line-height: 1.1;
    }

    .text h2 {
        font-size: 4.7rem;
        line-height: 1.1;
    }
}